{% extends "base.html" %}
{% load static %}
{% block page_header %}<div class="container header-container"></div>{% endblock %}
{% block content %}
    <div class="container h-100">
        <h1 class="text-center text-light">Quick and Easy T-shirt Printing</h1>
        <div class="row h-100">
            <!-- area for image on large screens-->
            <div class="col d-none d-lg-block"></div>
            <div class="col my-auto">
                <div class="row row-cols-2">
                    <div class="col">
                        <ul class="list-unstyled text-center">
                            <li class="h2 m-2 text-light">Men's</li>
                            <li class="h2 m-2 text-light">Ladies'</li>
                            <li class="h2 m-2 text-light">Kids'</li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="list-unstyled text-center">
                            <li class="h3 m-2 text-light">T-Shirts</li>
                            <li class="h3 m-2 text-light">Sweaters</li>
                            <li class="h3 m-2 text-light">Accessories</li>
                        </ul>
                    </div>
                </div>
                <div class="col text-center">
                    <a class="btn btn-green p-2 m-2" href="{% url 'products' %}">Browse Collection</a>
                    <a class="btn btn-green p-2 m-2" href="{% url 'designs' %}">Upload Your Own Design</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
