/* base */
html {
    height: 100%;
}

body {
    background: url('/media/home-bg.png') no-repeat left center fixed;
    background-size: cover;
    background-color: #386477;
    height: calc(100vh - 400px);
    font-family: 'Alegreya Sans', sans-serif;
}

/* header */
#banner-top,
footer {
    background-color: #7DA074;
    font-family: 'Alegreya', serif;
}

.nav-bg {
    background-color: #2CC4D5;
}

.nav-link {
    color: #111;
    font-family: 'Alegreya', serif;
}

.container.header-container {
    height: 120px;
}

.container-text {
    background-image: linear-gradient(#7DA074, #2CC4D5);;
    padding: 10px 5px;
    margin: 1em;
    border-radius: 40px;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

/* index */

.text-green {
    color: #7DA074;
}

.text-purple {
    color:#855682
}

.text-light {
    color: #f4f4ee;
    text-shadow: 3px 1px #7DA074;
}

.text-pampas {
    color: #f4f4ee;
}

.card,
.container,
.product-details-container,
.product-container {
    color:#386477;
}

.card-img, .card-img-top{
    max-height: 200px;
    max-width: 200px;
}

.update-link,
.remove-item {
    cursor: pointer;
}

.btn-green {
    background-color: #f4f4ee;
    color:#000;
    border:#7DA074 3px solid;
}

/* -- Bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* adapted from https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    
    border-bottom: 5px solid black;
  }

/* Allauth form formatting */

.allauth-form-inner p {
    margin-top: 1.5rem;
    color: #386477; /* text-secondary */
}

/* Product and Design Forms */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"]{
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-color: #386477;
}

.custom-checkbox .custom-controlinput:checked~.custom-control-label::before {
    background-color: #386477;
    border-color: #386477;
}

/* --------------------------------- Media queries */

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {

    body {
        width: fit-content;
        background: url('/media/home-bg.png') no-repeat left center fixed;
        background-size: 210%;
        background-color: #386477;
    }

    .container.header-container {
        height: 220px;
    }

    .navbar-brand {
        top: 90px;
        left: 10px;
        position: fixed;
    }
    
    #nav-bg {
        max-height: 220px;
        overflow-y: scroll;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (max-width: 990px) and (min-width: 600px) {
    body {
        width: unset;
        background: url('/media/home-bg.png') no-repeat left center fixed;
        background-size: 210%;
        background-color: #386477;
    }

    .container.header-container {
        height: 240px;
    }

}