<!-- Nav option 1 -->
<div class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="products-link" data-bs-toggle="dropdown" aria-expanded="false">
    Products</a>
    <ul class="navbar-nav-scroll dropdown-menu" aria-labelledby="products-link">
        <!-- All-->
        <li class="nav-item">
            <a class="dropdown-item" href="{% url 'products' %}">View All</a>
        </li>
        <!-- Men section -->
        <li class="nav-item">
            <a class="dropdown-header">Men</a>
            <a class="dropdown-item" href="{% url 'products' %}?category=male_t-shirts">T-Shirts</a>
            <a class="dropdown-item" href="{% url 'products' %}?category=male_hoodies">Hoodies</a>
        </li>
        <!-- Women section -->
        <li class="nav-item">
            <a class="dropdown-header">Women</a>
            <a class="dropdown-item" href="{% url 'products' %}?category=female_t-shirts">T-Shirts</a>
            <a class="dropdown-item" href="{% url 'products' %}?category=female_hoodies">Hoodies</a>
        </li>
        <!-- Children section -->
        <li class="nav-item">
            <a class="dropdown-header">Children</a>
            <a class="dropdown-item" href="{% url 'products' %}?category=child_t-shirt">T-Shirts</a>
            <a class="dropdown-item" href="{% url 'products' %}?category=baby_onesie">Onesie</a>
        </li>
        <!-- Other-->
        <li class="nav-item">
            <a class="dropdown-header">Other</a>
            <a class="dropdown-item" href="{% url 'products' %}?category=shopping_bags">Bags</a>
        </li>
    </ul>
</div>
<!-- Nav option 2 -->
<div class="nav-item">
    <a class="nav-link" href="{% url 'designs' %}">Design</a>
</div>