<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <!-- Nav option 1 -->
        <li class="nav-item">
            <a class="nav-link" href="#" id="about-link">About</a>
        </li>
        <!-- Nav option 2 -->
        <li class="nav-item dropdown">
            <a class="btn dropdown-toggle nav-link" href="#" id="products-link" data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Products
            </a>
            <div class="dropdown-menu" aria-labelledby="products-link">
                <!-- All-->
                <a class="dropdown-item" href="{% url 'products' %}">View All</a>
                <!-- Men section -->
                <a class="dropdown-header">Men</a>
                <a class="dropdown-item" href="">T-Shirts</a>
                <a class="dropdown-item" href="">Hoodies</a>
                <hr class="dropdown-divider">
                <!-- Women section -->
                <a class="dropdown-header">Women</a>
                <a class="dropdown-item" href="">T-Shirts</a>
                <a class="dropdown-item" href="">Hoodies</a>
                <hr class="dropdown-divider">
                <!-- Children section -->
                <a class="dropdown-header">Children</a>
                <a class="dropdown-item" href="">T-Shirts</a>
                <a class="dropdown-item" href="">Onesie</a>
                <hr class="dropdown-divider">
                <!-- Other-->
                <a class="dropdown-header">Other</a>
                <a class="dropdown-item" href="">Pillowcase</a>
                <a class="dropdown-item" href="">Bags</a>
            </div>
        </li>
        <!-- Nav option 3 -->
        <li class="nav-item">
            <a class="nav-link" href="#">Design</a>
        </li>
    </ul>
</div>