<!-- Nav option 1 -->
<div class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="products-link" data-bs-toggle="dropdown" aria-expanded="false">
    Products</a>
    <ul class="navbar-nav-scroll dropdown-menu" aria-labelledby="products-link">
        <!-- All-->
        <li class="nav-item">
            <a class="dropdown-item" href="{% url 'products' %}">View All</a>
        </li>
        <!-- Men section -->
        <li class="nav-item">
            <a class="dropdown-header">Men</a>
            <a class="dropdown-item" href="{% url 'products' %}?category=Male T-Shirts">T-Shirts</a>
            <a class="dropdown-item" href="{% url 'products' %}?category=Male Hoodies">Hoodies</a>
        </li>
        <!-- Women section -->
        <li class="nav-item">
            <a class="dropdown-header">Women</a>
            <a class="dropdown-item" href="{% url 'products' %}?category=Female T-Shirts">T-Shirts</a>
            <a class="dropdown-item" href="{% url 'products' %}?category=Female Hoodies">Hoodies</a>
        </li>
        <!-- Children section -->
        <li class="nav-item">
            <a class="dropdown-header">Children</a>
            <a class="dropdown-item" href="{% url 'products' %}?category=Child T-Shirt">T-Shirts</a>
            <a class="dropdown-item" href="{% url 'products' %}?category=Baby Onesie">Onesie</a>
        </li>
        <!-- Other-->
        <li class="nav-item">
            <a class="dropdown-header">Other</a>
            <a class="dropdown-item" href="{% url 'products' %}?category=Shopping Bags">Bags</a>
        </li>
    </ul>
</div>
<!-- Nav option 2 -->
<div class="nav-item">
    <a class="nav-link" href="{% url 'designs' %}">Design</a>
</div>