{% extends 'base.html' %}
{% load static %}
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block extra_css %}
    <link type="text/css"
          rel="stylesheet"
          href="{% static 'designs/css/designs.css' %}">
{% endblock %}
{% block content %}
    <div class="overlay"></div>
    <div class="container container-content">
        <div class="row">
            <div class="col">
                <h2 class="text-center md-4">Create a Design on Template</h2>
                <h5 class="text-center">{{ mockup.name }}</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <!-- Adapted from https://ourcodeworld.com/articles/read/1016/how-to-create-your-own-t-shirt-designer-using-fabricjs-in-javascript -->
            <div class="col-12 col-md-7">
                <!-- Create the container of the tool -->
                <div id="tshirt-div">
                    {% if mockup.image %}
                        <img id="tshirt-backgroundpicture"
                             src="{{ mockup.image.url }}"
                             alt="{{ mockup.name }}">
                    {% else %}
                        <img id="tshirt-backgroundpicture"
                             src="{{ MEDIA_URL }}/{{ mockup.name }}"
                             alt="{{ mockup.name }}">
                    {% endif %}
                    <div id="drawingArea" class="drawing-area">
                        <div class="canvas-container">
                            <canvas id="tshirt-canvas" width="135" height="265"></canvas>
                        </div>
                    </div>
                </div>
                <!-- Image editing tools -->
                <span>
                Select and press the <kbd>DEL</kbd> key to remove design elements.
            </span>
            <br>
        </div>
        <div class="col-12 col-md-5">
            <!-- The Select that allows the user to change the color of the T-Shirt -->
            <label for="tshirt-color">T-Shirt Color:</label>
            <select id="tshirt-color">
                <!-- You can add any color with a new option and definings its hex code -->
                <option value="#fff">
                    White
                </option>
                <option value="#000">
                    Black
                </option>
                <option value="#f00">
                    Red
                </option>
                <option value="#008000">
                    Green
                </option>
                <option value="#ff0">
                    Yellow
                </option>
            </select>
            <br>
            <label for="tshirt-custompicture">Upload your own design:</label>
            <input type="file" id="tshirt-custompicture" />
        
            <form action="{% url 'designs' %}" method="POST"
            class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name != 'image' %}
                        {{ field | as_crispy_field }}
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                <br>
                <div class="text-right">
                    <a class="btn btn-light" href="{% url 'designs' %}" class="btn">Cancel</a>
                    <button class="btn btn-green" type="submit" value="submit">Save Design</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}designs/js/fabric.min.js"></script>
    <script src="{{ STATIC_URL }}designs/js/dom-to-image.min.js"></script>
    <script src="{{ STATIC_URL }}designs/js/designs.js"></script>
    <script src="{{ STATIC_URL }}cart/js/cart.js"></script>
{% endblock %}
