{% extends 'base.html' %}
{% load static %}
{% block extra_title %}Products{% endblock %}
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="overlay"></div>
    <div class="container container-content">
        <div class="row">
            <div class="col">
                <h2 class="text-center md-4">Products</h2>
                <hr>
            </div>
        </div>
        <!-- Product sorting and filtering -->
        <div class="row">
            <div class="product-container">
                <div class="row mt-1 mb-2">
                    <div class="col-9">
                        <p class="text-pampas">
                            {% if search_term or current_categories or current_sorting != 'None_None' %}
                                <span class="small"><a href="{% url 'products' %}">Show All</a> | </span>
                            {% endif %}
                            {{ products|length }} Products
                            {% if search_term %}found for {{ search_term }}{% endif %}
                        </p>
                    </div>
                    <div class="col-3">
                        <div class="sort-select-wrapper">
                            <label for="sort-selector" hidden>Sort products</label>
                            <select id="sort-selector">
                                <option value="reset"
                                        {% if current_sorting == 'None_None' %}selected{% endif %}>
                                    Sort By...
                                </option>
                                <option value="price_asc"
                                        {% if current_sorting == 'price_asc' %}selected{% endif %}>
                                    Price Ascending
                                </option>
                                <option value="price_desc"
                                        {% if current_sorting == 'price_desc' %}selected{% endif %}>
                                    Price Descending
                                </option>
                                <option value="name_asc"
                                        {% if current_sorting == 'name_asc' %}selected{% endif %}>
                                    Name (A-Z)
                                </option>
                                <option value="name_desc"
                                        {% if current_sorting == 'name_desc' %}selected{% endif %}>
                                    Name (Z-A)
                                </option>
                                <option value="category_asc"
                                        {% if current_sorting == 'cat_asc' %}selected{% endif %}>
                                    Category (A-Z)
                                </option>
                                <option value="category_desc"
                                        {% if current_sorting == 'cat_desc' %}selected{% endif %}>
                                    Category (Z-A)
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product display -->
        <div class="row">
            {% for product in products %}
                {% if product.category %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3">
                        <div class="card">
                            <!-- Product in card (header) -->
                            <div class="card-header">
                                <h5 class="card-title text-center">{{ product.name }}</h5>
                            </div>
                            {% if product.image %}
                                <a class="text-center" href="{% url 'product_details' product.id %}?category={{ product.category }}">
                                    <img src="{{ product.image.url }}"
                                         alt="{{ product.name }}"
                                         class="card-img-top">
                                </a>
                            {% else %}
                                <a class="text-center"  href="{% url 'product_details' product.id %}">
                                    <img src="{{ MEDIA_URL }}no-image-icon.png"
                                         alt="{{ product.name }}"
                                         class="card-img-top">
                                </a>
                            {% endif %}
                            <!-- Product in card (body) -->
                            <div class="card-body">
                                <span>{{ product.category.friendly_name }}</span>
                            </div>
                            <div class="card-footer">
                                <a href="{% url 'product_details' product.id %}" class="btn btn-link">View</a>
                                {% if request.user.is_superuser %}
                                    <a href="{% url 'edit_product' product.id %}" class="btn btn-link">Edit</a>
                                    <a href="{% url 'delete_product' product.id %}" class="btn btn-link">Delete</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block postloadjs %}
    <script src="{% static 'js/products.js' %}"></script>
{% endblock %}
