/* -- T-shirt design */

.drawing-area{
    position: absolute;
    top: 60px;
    left: 85px;
    z-index: 10;
    width: 135px;
    height: 265px;
}

.canvas-container{
    width: 135px; 
    height: 265px; 
    position: relative; 
    user-select: none;
}

#tshirt-div{
    width: 300px;
    height: 350px;
    position: relative;
    background-color: #fff;
}

#canvas {
    position: absolute;
    width: 135px;
    height: 135px;
    left: 0px;
    top: 0px;
    user-select: none; 
    cursor: default;
}

#tshirt-backgroundpicture {
    height: 350px;
    width: 300px;
}
